.header{
	font-size: 24px;
	height:60px;
	line-height: 60px;
	color:#ffffff;
	background:#66cefa;
	padding:0 30px;
}
.header button{
	margin-top:13px;
}
ul{
	list-style: none;
	padding-left:0;
}

#keywordList li{
	float: left;
	margin:3px;
}
#keywordList li .tags{
	margin-right: 2px;
    color: #fff;
    background-color: #5bc0de;
    display: inline;
  	padding: 2.4px 7.2px 3.6px;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    text-align: center;
    border-radius: 4px;
}










