.isHide{
	display: none!important;
}
.isShow{
	display: block!important;
}

.control-label{
	text-align: right!important;
}
.form-group{
	overflow: hidden;
}
.form-control{
	display: inline-block;
	width:70%;
}
.tips{
	margin-left:20px;
}
.editor{
	display: none;
}
.header{
	font-size: 24px;
	height:60px;
	line-height: 60px;
	color:#ffffff;
	background:#66cefa;
	padding:0 30px;
}
.header button{
	margin-top:13px;
}

#editor-trigger {
    height: 400px;
    /*max-height: 500px;*/
}
.container {
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.upload_img{
	display: none;
}


